extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  if (data.title)
    h1(class="mb-4") #{data.title}
  hr

  if (data.description)
    div(class="mb-4")
      i " #{data.description} "
  
  if (data.createdAt)
    div(class="mb-4")
      strong Create at: #{data.createdAt}

  if (data.updatedAt)
    div(class="mb-4")
      strong Latest update: #{data.updatedAt}