/* Header */
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
	flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/* End Header */

/* Footer */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/* End Footer */

/* box-head */
.box-head {
  margin-bottom: 30px;
}

.box-head .inner-title {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/* End box-head */

/* product-item */
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-image .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 20px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
	text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: red;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}
/* End product-item */


/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

/* Show Alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* End Show Alert */

/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}
/* End product-detail */

/* Align product td in the middle of tr */
.mid-pos {
  vertical-align: middle;
  text-align: center;
}

.table td, .table th {
  vertical-align: middle;
}

/* Margin shorthand */
.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

/* CHAT */
.chat {
  border: 1.5px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.chat .inner-name {
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: .3rem;
}

.chat .inner-body {
  display: flex;
  flex-direction: column;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-incoming .inner-content {
  background: #ddd;
  padding: .5rem 1rem;
  color: #000;
  border-radius: 15px;
  max-width: 16rem;
  width: fit-content;
  margin-bottom: 1rem;
}

.chat .inner-outgoing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: .2rem;
}

.chat .inner-outgoing .inner-content {
  padding: .5rem 1rem;
  background:rgb(4, 107, 138);
  color: #fff;
  border-radius: 15px;
  width: fit-content;
  max-width: 16rem;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-foot {
  margin-top: 3rem;
  position: relative;
}

.chat .inner-foot input {
  padding: 1.25rem 1rem;
  width: 89%;
}

.chat .inner-form .button-icon {
  border-radius: 15px;
  border: 1px solid rgb(4, 107, 138);
  background:rgb(4, 107, 138);
  color: #fff;
  height: 32px;
  padding: 0 10px;
  width: 4%;
  padding: 1.25rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid rgb(4, 107, 138);
  background:rgb(4, 107, 138);
  color: #fff;
  height: 32px;
  padding: 0 10px;
  width: 7%;
  padding: 1.25rem 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* emoji-picker */
.tooltip {
  visibility: hidden;
}

.tooltip.shown {
  visibility: visible;
  opacity: 1;
}