extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug
include ../../mixins/alert.pug

block main

  +alert-success(4000)
  +alert-error(4000)

  .container.my-3
    .row
      .col-12
        +box-head(pageTitle)

    +product-grid(products)
    