mixin sort()  
  div(sort)
    select(
      class="form-control"
      name="sort"
      sort-select
    )
      option(value="position-desc") Descending position
      option(value="position-asc") Ascending position
      option(value="price-desc") Descending price
      option(value="price-asc") Ascending price
      option(value="title-asc") Title A - Z
      option(value="title-desc") Title Z - A

    button(
      class="btn btn-danger mt-2"
      sort-clear
    ) Clear