header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href=`/${adminPrefix}/dashboard`) ADMIN

      .col-9
        div(class="text-right")
          a(
            href=`/${adminPrefix}/auth/logout`
            class="btn btn-danger btn-sm"
          ) Logout