.sider
  .inner-menu 
    ul 
      li 
        a(href=`/${adminPrefix}/dashboard`) Overall 
      li 
        a(href=`/${adminPrefix}/products`) Products
      li 
        a(href=`/${adminPrefix}/products-category`) Products category